# general
Thumbs.db
.DS_Store
*~
*.log

# java
*.class
hs_err_pid*

# maven
target/

# ivy
lib/mvn-deps/
logs/
src_dataClasses/
src_wsproc/
.project
ivy-load-test/.classpath
ivy-load-test/.gitignore
ivy-load-test/.project
ivy-load-test/.settings/org.eclipse.core.resources.prefs
ivy-load-test/.settings/org.eclipse.jdt.core.prefs
ivy-load-test/.settings/org.eclipse.wst.common.component
ivy-load-test/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
ivy-load-test/.settings/org.eclipse.wst.common.project.facet.core.xml
ivy-load-test/.settings/org.eclipse.wst.css.core.prefs
ivy-load-test-demo/.settings/org.eclipse.core.resources.prefs
ivy-load-test-demo/.settings/org.eclipse.jdt.core.prefs
ivy-load-test-demo/.settings/org.eclipse.wst.common.component
ivy-load-test-demo/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
ivy-load-test-demo/.settings/org.eclipse.wst.common.project.facet.core.xml
ivy-load-test-demo/.settings/org.eclipse.wst.css.core.prefs
ivy-load-test-test/.settings/org.eclipse.core.resources.prefs
ivy-load-test-test/.settings/org.eclipse.jdt.core.prefs
ivy-load-test-test/.settings/org.eclipse.wst.common.component
ivy-load-test-test/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
ivy-load-test-test/.settings/org.eclipse.wst.common.project.facet.core.xml
ivy-load-test-test/.settings/org.eclipse.wst.css.core.prefs
